<%= stylesheet_link_tag "blog" %>

<div id="column1">
  <%- if @posts.present? -%>

    <%- @posts.each do |post| -%>
      <h2><%= link_to post.title.titleize, post %></h2>

      <div id="post">
        <%= textilize post.excerpt %>

        <p><%= link_to "continua", post %></p>
      </div>
    <%- end -%>

  <%- else -%>
    <h3>Nenhum post encontrado.</h3>
  <%- end -%>

  <div class="left">
    <%= will_paginate @posts %>
  </div>
</div>

<%= render "sidebar" %>

