<!DOCTYPE html>
<html>
<head>
  <title>VOXMARK - Assessoria e Consultoria em Propriedade Intelectual</title>
  <%= stylesheet_link_tag "admin", "scaffold" %>
  <%= javascript_include_tag "vendor/jquery", "vendor/jquery-ui", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <% if user_signed_in? %>
      <div id="main-nav">
        <%= menu do |m| %>
          <%= m.dashboard 'Dashboard', admin_root_path %>
          <%= m.posts 'Posts', admin_posts_path %>
          <%= m.assets 'Assets', admin_assets_path %>
          <%= m.changelog 'Changelog', admin_changes_path %>
          <%= m.inquiries 'Inquiries', admin_inquiries_path %>
          <%= m.users 'Users', admin_users_path %>
        <% end %>
      </div>

      <div id="user-bar">
        <%= link_to "Logout", destroy_user_session_path %>
      </div>
      <% end %>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div class="in">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

<%= yield :bottom %>
</body>
</html>

