<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
  <title>VOXMARK - Assessoria e Consultoria em Propriedade Intelectual</title>
  <%= stylesheet_link_tag "application", "scaffold" %>
  <%= javascript_include_tag "vendor/jquery", "vendor/jquery-ui", "vendor/jquery.placeholder", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <!--[if lte IE 7]>
  <script defer type="text/javascript" src="javascripts/vendor/pngfix.js"></script>

  <div class="notSupportedBrowser important">
    <p>
      <strong>Seu navegador está desatualizado. Baixe a nova versão
      <%= link_to image_tag("ua_ie.jpg", :class => "middle"),
            "http://www.microsoft.com/windows/internet-explorer", :target => "_blank" %>
      ou escolha outro suportado:</strong>
      <%= link_to image_tag("ua_ff.jpg", :class => "middle"), "http://www.mozilla.com/", :target => "_blank" %>
      <%= link_to image_tag("ua_sf.jpg", :class => "middle"), "http://www.apple.com/safari/", :target => "_blank" %>
      <%= link_to image_tag("ua_ch.jpg", :class => "middle"), "http://www.google.com/chrome/", :target => "_blank" %>
      <%= link_to image_tag("ua_op.jpg", :class => "middle"), "http://www.opera.com/", :target => "_blank" %>
    </p>
  </div>
  <![endif]-->

  <div id="user-bar">
    <%= link_to "admin panel", admin_root_path, :class => "button" %>
  </div>

  <div id="wrapper">

    <div id="header">
      <div id="logo">
        <%= link_to image_tag("logo_header.png", :class => "middle"), "/home" %>
      </div>

      <div id="main-nav">
        <%= menu do |m| %>
          <%= m.company company_path do %>
            Empresa
          <% end %>

          <%= m.services services_path do %>
            Serviços
          <% end %>

          <%= m.posts posts_path do %>
            Blog
          <% end %>

          <%= m.contact new_inquiry_path do %>
            Contato
          <% end %>

        <% end %>
      </div>
    </div>

    <div id="content">

      <%= flash_messages %>

      <%= yield %>
    </div>

    <div id="footer">

      <div id="info">
        <div id="dados">
        <h3>VOXMARK - Assessoria e Consultoria em Propriedade Intelectual - 2011 © Todos os direitos reservados</br>
        R. Pres. Nereu Ramos, 19 - Sala 405 - Centro - CEP: 88015-010 - Florianópolis - SC - Fone/Fax: +55 48 3322-2599</h3>
        </div>
        <div id="redes_sociais"
        <p>
          <%= link_to image_tag("logo_facebook.png"), "http://www.facebook.com/voxmarkmp" %>
          <%= link_to image_tag("logo_twitter.png"), "http://twitter.com/voxmark" %>
        </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>

